[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-core = "*"
langchain-openai = "*"
dotenv = "*"
langchain-google-genai = "*"
pillow = "*"
langchain-mcp-adapters = "*"
langgraph = "*"
langchain-tavily = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.11"
